{% extends 'main/base.html' %}

{% block content %}
    <div class="container-fluid">
        <h1 class="title-of-page">
            {{ category.name }}
        </h1>
        <p class="partners-description">
            {{ category.descriprion }}
        </p>
        <div class="partners-detail-grid">
            {% for item in products %}
                {% if category.name == item.category.name %}
                    <div class="partners-detail-item">
                        <div class="partners-detail-item-body">
                            <img src="{{ item.image.url }}" alt="item image">
                            <p>
                                {{ item.title }}
                            </p>
                            <div class="partners-link">
                                <a href="{{ item.file.url }}">
                                    Скачать коллекцию .pdf
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        
    </div>
{% endblock %}