{% extends "main/base.html" %}

{% block content %}

    <div class="container-fluid-cart">
        <form action="{% url 'pay' %}" method='post'>
            {% csrf_token %}
            
            <!-- Поля для оформления заказа -->
            {{ cartForm.name }}
            {{ cartForm.surname }}
            {{ cartForm.number }}
            {{ cartForm.email }}
            {{ cartForm.commit }}

            <!-- Название товаров, их количество и цена с учетом количества -->
            {% for item in cart %}
              {% with product=item.product %}
                  {{ item.product.title }}
                  {{ item.quantity }}
                  {{ item.total_price }}
              {% endwith %}
            {% endfor %}

            <!-- Общая сумма корзины -->
            {{ cart.get_total_price }}

            
            <input type="submit" value="Подтвердить заказ">
          </form>
    </div>

{% endblock %}
    