* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

/* @font-face {
    font-family: 'DINPro-CondensedMedium';
    src: url("../fonts/bf27039ecba4e6511abddd84122a8aac.eot") format("truetype");
} */
@font-face { 
    font-family: "DINPro-CondensedMedium";
    src: url("../fonts/DINProCondensedRegular/DINProCondensedRegular.eot");
    src: url("../fonts/DINProCondensedRegular/DINProCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/DINProCondensedRegular/DINProCondensedRegular.woff") format("woff"),
    url("../fonts/DINProCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* @font-face {
    font-family: 'fontbf27039ecba4e6511abddd84122a8aac';
        
        src:    url('https://nomail.com.ua/files/eot/bf27039ecba4e6511abddd84122a8aac.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/bf27039ecba4e6511abddd84122a8aac.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/bf27039ecba4e6511abddd84122a8aac.woff2') format('woff2');
    }
    
    @font-face { font-family: 'DINPro-CondensedMedium';  src: local('DINPro-CondensedMedium'), url('https://nomail.com.ua/files/woff/bf27039ecba4e6511abddd84122a8aac.woff') format('woff'); } */    

/* base.html */

/* Основные контейнеры */

.container-fluid {
    width: 1050px;
    margin: 0 auto;
}

.container-fluid-product {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.container-fluid-top {
    width: 1250px;
    margin: 0 auto;
}

.container-fluid-cart {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.container-fluid-about {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}

.container-fluid-contact {
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
}


/* Верхняя полоска */

.top {
    background-color: #569192;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.top-info {
    align-items: center;
    height: 45px;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.contacts-top {
    display: flex;
    align-items: center;
}

.icon-top {
    margin-left: 5px;
}

.number {
    font-family: 'DINPro-CondensedMedium';
    font-weight: 550;
}

.text-top {
    font-family: 'DINPro-CondensedMedium';
    font-weight: 100;  
}


/* Корзина + контакты */

.cart {
    padding-top: 7px;
    /* display: flex; */
    /* align-items: center; */
}

.cart-wrap {
    display: flex;
    align-items: center;
    margin-left:auto;
}

.cart-wrap div {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.len-cart-block {
    width: 21px;
    height: 21px;
    background-color: #FF4A4A;
    border-radius: 50%;
}

.len-cart-block span {
    margin: 0 auto;
    color: white;
    font-family: 'DINPro-CondensedMedium';
    font-size: 15px;
}

#header-scrolled {
    display: none;
}

.contact-cart-block {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.contact-inner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #287AFA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-inner:hover {
    cursor: pointer;
    transition: 0.5s;
    background-color: #0456da;
}

.contact-wrapper {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Открытое окно контактов */

.contact-open {
    background-color: white;
    position: absolute;
    display: none;
    bottom: 100px;
    right: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 60%);
}

.contact-open-triangle {
    position: absolute;
    display: none;
    bottom: 80px;
    right: 50px;
    height: 1000;
	border-top: 20px solid rgb(255, 255, 255); 
	border-left: 20px solid transparent;
}

.contact-open-container {
    margin: 20px;
}

.contact-open-wrapper {
    display: flex;
    border-radius: 10px;
    margin: 10px 10px 10px 0px;
}

.contact-open-wrapper:hover {
    background-color: #F0F0F0;
}

.contact-open-name {
    font-size: 22px;
    white-space: nowrap; 
    padding: 6px 0px 0px 10px;
    font-family: 'DINPro-CondensedMedium';
    color: #636363;
}


.сart-inner {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cart-len {
    display: flex;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 22px;
    height: 22px;
    background: #E94B35;
    border-radius: 50%;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: 'DINPro-CondensedMedium';
    font-size: 15px;
}

.cart-wrapper {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: #b1b1b1 1px solid;
    border-radius: 4px;
}

.cart-wrapper:hover {
    transition: 0.3s;
    cursor: pointer;
    background: #d2d2d2;
}

/* Открытая корзина */

.cart-open {
    background-color: white;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 400px;
    display: none;
    font-family: 'DINPro-CondensedMedium';
    color: #6C6D70;
}


.contact-cart-block:focus {
    display: block;
}

.cart-open:hover {
    display: block;
}

.cart-open-container {
    width: 93%;
    margin: 0 auto;
}

.cart-open-wrapper1 {
    display: flex;
}

.cart-open-title {
    width: 100%;
    height: 50px;
    background-color: #569192;
    display: flex;
    align-items: center;
}

.cart-open-title h2 {
    font-family: 'DINPro-CondensedMedium';
    font-size: 23px;
    color: white;
    font-weight: 100; 
}

.cart-open-products {
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding-bottom: 15px;
}

.cart-open-item {
    padding-top: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cart-open-item-quantily {
    padding-left: 17px;
}

.cart-open-item-quantily h4 {
    font-size: 25px;
    font-weight: 100;
}

.cart-open-quantily {
    width: 70px;
    height: 50px;
    background-color: #409a9b;
}


.cart-open-total {
    height: 50px;
    background-color: #7BC4BE;
}

.cart-open-total:hover {
    transition: 0.3s;
    background-color: #509791;
}

.cart-open-price {
    text-align: right;
}

.cart-open-price p {
    font-size: 25px;
    font-weight: 100;
}

.cart-open-price a {
    color: #6C6D70;
    text-decoration: none;
    font-weight: 100;
}

.cart-open-total {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-open-total-link p {
    text-decoration: none;
    color: #3E3E3F;
    font-weight: 600;
    font-size: 27px;
}

/* Логотип + меню */
.logo-menu {
    padding-top: 7px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.menu {
    display: flex;
}

.menu-link {
    color: #939598;  
    padding-left: 10px;
    font-family: 'DINPro-CondensedMedium';
    font-size: 23px;
}

.menu-link:hover {
    color: #636363;
    transition: 0.3s;  
}

.separator {
    padding-left: 10px;
    color: #636363;
    font-family: 'DINPro-CondensedMedium';
    font-size: 22px;
}


#top_nav {
    position: sticky;
    top: 0;
    background-color: #F0F7FB;
    padding-top: 10px;
    padding-bottom: 15px;
}

/* home.html */

/* Большой блок с фото на главной странице*/

.wrap {
    width: 100%;
}

.slider-container {
    overflow: hidden;
}

.slider-track {
    display: flex;
    transition: 2s;
    /* object-fit: cover;
    width: 100%;
    height: auto; */
}

.slider-item {
    /* object-fit: cover; */
    width: 100%;
    height: auto;
}

/* Заголовок наши работы + блоки с работами */

.home-slogan {
    color: #636363;
    font-family: 'DINPro-CondensedMedium';
    font-weight: 100;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 28px;
}

.title-of-page{
    color: #636363;
    font-family: 'DINPro-CondensedMedium';
    font-weight: 550;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.works-main-block {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    grid-auto-rows: minmax(370px, auto);
    justify-content: space-between;
}


.work-block {
    height: 270px;
    width: 270px;
    margin-bottom: 75px;
}

.category-name {
    width: 270px;
    font-family: 'DINPro-CondensedMedium';
    font-weight: 500;
    font-size: 26px;
    color: #409a9b;
}

#q {
    display: none;
}

/* Страница товаров на выбранной категории */

.category-top {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: -72px;
}

.category-top-link {
    color: #939598;
    font-family: 'DINPro-CondensedMedium';
    font-size: 23px;
}

.category-top-current {
    color: #696A6D;
    font-family: 'DINPro-CondensedMedium';
    font-size: 35px;
    text-transform: uppercase;
    margin-left: 7px;
}

.category-top-link:hover {
    color: #696A6D;  
    transition: 0.3s;  
}


/* Блок с товарами */

.product-top {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0px;
}

.product-top-link {
    color: #939598;
    font-family: 'DINPro-CondensedMedium';
    font-size: 23px;
}

.product-top-current {
    color: #696A6D;
    font-family: 'DINPro-CondensedMedium';
    font-size: 35px;
    text-transform: uppercase;
    margin-left: 7px;
}

.product-top-link:hover {
    color: #696A6D;  
    transition: 0.3s;  
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, 270px);
    grid-auto-rows: minmax(310px, auto);
    justify-content: space-between;
}

.product-item {
    margin-bottom: 50px;
}

.product-title {
    width: 270px;
    font-family: 'DINPro-CondensedMedium';
    font-weight: 500;
    font-size: 25px;
    padding-bottom: 6px;
    color: #409a9b;
}

.product-price {
    padding-bottom: 10px;
    width: 270px;
    font-family: 'DINPro-CondensedMedium';
    font-weight: 500;
    font-size: 22px;
}

.add-to-cart {
    background-color: #569192;
    border: 0 none;
    width: 100px;
    height: 35px;
    border-style: solid;
    color: #FFFFFF;
    border-radius: 0.3em;
}


/* Детальная информация о товаре */

.title-of-product-detail {
    color: black;
    font-family: 'DINPro-CondensedMedium';
    font-weight: 550;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 35px;
    font-size: 30px;
}

.product-item-detail {
    display: flex;
    flex-wrap: wrap;
}

.info-of-product-detail {
    width: 60%;
    margin: 0 auto;
}

.product-title-detail {
    padding-bottom: 23px;
    font-family: 'DINPro-CondensedMedium';
    font-weight: 550;
    font-size: 48px;
}

.product-price-detail {
    padding-bottom: 23px;
    font-family: 'DINPro-CondensedMedium';
    font-size: 30px;
}

.size-of-product {
    padding-bottom: 23px;
    font-family: 'DINPro-CondensedMedium';
    font-size: 20px;
    color: #666666;
}

.title-of-descriprion-detail {
    width: 100%;
    background-color: #F6F6F6;
    height: 55px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title-of-product-detail-1 {
    background-color: white;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    border-top: 2px solid black;

}

.title-of-product-detail-1 h4{
    font-family: 'DINPro-CondensedMedium';
    font-size: 24px;
    font-weight: 550;
    margin: 0 auto;
}

.descriprion-of-product-detail p{
    font-family: 'DINPro-CondensedMedium';
    color: #666666;
    font-size: 18px;
}

.add-to-cart-1 {
    background-color: #999698;
    border: 0 none;
    width: 110px;
    height: 45px;
    border-style: solid;
    color: #FFFFFF;
    border-radius: 0.3em;
    font-size: 15px;
}

.add-cart-block-detail {
    display: flex;
    align-items: center;
}

#w {
    padding-right: 15px;
}

#w label{
    display: none;
}

.cart_product_form {
    font-weight:bold;
}

#id_quantity {
    display: flex; 
    text-align-last: center;
    font-size: 16px; 
    font-family: sans-serif; 
    font-weight: 700; 
    color: #444; 
    padding: .6em 1.4em .5em .8em; width: 100%; 
    max-width: 100%; 
    height: 45px;
    box-sizing: border-box; 
    margin: 0; 
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff; 
    background-repeat: no-repeat, repeat;
    /* background-position: right .7em top 50%, 0 0; */
    background-size: .65em auto, 100%; 

}

.category-of-product {
    padding-top: 23px;
    font-family: 'DINPro-CondensedMedium';
    font-size: 18px;
    color: #666666;
}


/* Страница контактов */



/* Страница корзины */

.order-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.detail-of-order {
    width: 570px;
    
}

.order-view {
    width: 570px;
   
}

.name-order-block {
    text-align: center;
    font-family: 'DINPro-CondensedMedium';
    font-weight: 500;
    font-size: 27px;
}

/* детали(форма) заполнения заказа*/
.title-input {
    font-family: 'DINPro-CondensedMedium';
    font-weight: 500;
    font-size: 23px;
    color: rgb(54, 54, 54);
}

.reg-info-block input {
    width: 100%;
    height: 35px;
}

.input-double {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-double-text-input {
    width: 90%;
}

.input-double-text-input input {
    width: 100%;
    height: 35px;
}

.dostavka-block input {
}

.order-name input {
    width: 100%;
}

.cart-item-container { 
    /* завёртка заказов в один блок */
    width: 100%;
} 
.cart-adaptive {
    /* обёртка для переноса Итогов в боковую панель */
    display: flex;
    flex-direction: row;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
}
.cart-items {
    width: 100%;
    display: grid;
    grid-template-columns: 50px 72px 1fr 150px 100px 150px;
    font-size: 18px;
}

.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.cart-items .cart-block img {
    width: 50px;
    height: 50px;
    border-radius: 2px;
    padding: 8px 0;
}
.cart-items .cart-block {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    user-select: none;
    border-bottom: 1px solid rgb(201, 201, 201);
}
.cart-items .cart-block.headline {
    color: gray;
    font-family: 'DINPro-CondensedMedium', "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}
.cart-items .cancel {
    padding: 8px 0;
}
.cart-items .cancel button {
    border: 1px solid white;
    border-radius: 6px;
    background: white;
    width: 100%;
    height: 100%;
    font-family: 'DINPro-CondensedMedium', "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.cart-items .cancel button:hover {
    border: 1px solid rgb(202, 202, 202);
    background: rgb(245, 245, 245);
}
.cart-items .cancel button:active {
    border: 1px solid rgb(158, 158, 158);
    background: rgb(235, 235, 235);
}
.cart-items .cart-item-ico {
    width: 50px;
    display: flex;
    justify-content: center;
}
.cart-items .cart-item-quantity {
    padding: 12px;
    
}
.cart-items .cart-item-title {
    font-family: 'DINPro-CondensedMedium', "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.cart-items .cart-item-quantity input  {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    background: rgb(243, 243, 243);
    border-top: 1px solid rgb(151, 151, 151);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 6px;
    font-size: 18px;
    height: 36px;

}
.cart-items .cart-item-totalprice {
    font-weight: bold;
}
.cart-block.bold {
    font-weight: bolder;
}
.cart-cost-container {
    min-width: 300px;
}
.cart-cost-items {
    background: rgba(223, 223, 223, 0.418);
    padding: 16px 32px;
    margin: 0 12px;

}
.cart-cost-block {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}
.cart-cost-block.bold {
    font-weight: bold;
    font-size:x-large;
}
button.cart-cost-pay {
    width: 100%;
    padding: 16px 0;
    margin: 8px 0;
    background: #166316;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    font-family: 'DINPro-CondensedMedium', "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}
button.cart-cost-pay:hover {
    background: #1f811f;
}
button.cart-cost-pay:active {
    background: #0b470b;
}
.update-cart {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 16px 0;
}
.update-cart button{
    border: none;
    background: none;
    color: rgba(0, 0, 0, 0.671);
    background-color: rgb(241, 241, 241);
    padding: 8px 16px;
}
.update-cart button:hover {
    background-color: rgb(233, 233, 233);
}
.update-cart button:active {
    background-color: rgb(216, 216, 216);
}

.contacts-block {
    font-family: 'DINPro-CondensedMedium', "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 24px;
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
}

.contacts-maps-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 70%;
    margin: 32px auto;
    border-radius: 14px;
}

.contacts-maps-container a {
    color: #eee;
    font-size: 12px;
    top: 0px;
}

.about-block {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    font-family: 'DINPro-CondensedMedium', "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 32px 0;

}

.about-photo {
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.about-photo img {
    width: 100%;
    max-width: 90%;
    height: auto;
}

.about-text {
    display: flex;
    padding: 0 32px;
    text-align: justify;
    align-items: center;
}

.order-form {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    font-size: 24px;
}
.order-form h3 {
    padding: 8px 16px;
    box-sizing: border-box;
}

.order-details-user {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.order-details-user h3 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.order-input {
    box-sizing: border-box;
    padding: 0 16px;
}
.order-input p{
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: gray;
    box-sizing: border-box;
    padding: 8px 0;
}
.order-details-user .phone-number {
    grid-column-start: 1;
    grid-column-end: 3;
}
.order-details-user .email {
    grid-column-start: 1;
    grid-column-end: 3;
}
.order-details-user input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background: rgb(243, 243, 243);
    border-top: 1px solid rgb(151, 151, 151);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 6px;
    font-size: 18px;
    height: 36px;
}
.order-details-commit textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background: rgb(243, 243, 243);
    border-top: 1px solid rgb(151, 151, 151);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 6px;
    font-size: 18px;
}
.confirm-order {
    grid-column-start: 1;
    grid-column-end: 3;
}
.confirm-order input{
    padding: 16px 32px;
    margin: 8px 0;
    background: #7BC4BE;
    color: #404344;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 12px;
    font-family: 'DINPro-CondensedMedium', "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.confirm-order input:hover {
    background: #9ee9d6;
}
.confirm-order input:focus {
    background: #608aa3;
}

.order-cost-container {
    min-width: 300px;
}
.order-cost-items {
    display: grid;
    grid-template-columns: fit-content(100%);
    background: rgba(223, 223, 223, 0.418);
    color: gray;
    padding: 20px 32px;
    margin: 0 12px;
    font-size: 14px;

}

.order-cost-item {
    margin: 4px 0;
}
.order-cost-item.bold {
    font-weight: bold;
    font-size:x-large;
}
.order-cost-item.cost {
    display: flex;
    justify-content: right;
    align-items:flex-end;
}