{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
    <div class="top">
        <div class="container-fluid-top" id='top'>
            <!-- Полоска в самом верху сайта -->
            <div class="top-info">
                <h2 class="text-top">КЕРАМИКА РУЧНОЙ РАБОТЫ</h2>
                <div class="contacts-top">
                  <h2 class="number">+7 922 207 38 38 |</h2>
                  <a href="#" class="icon-top"><img alt="" height="30" width="30" src="{% static 'images/vk.svg'%}"></a>
                  <a href="#" class="icon-top"><img alt="" height="30" width="30" src="{% static 'images/insta.svg'%}"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="top-main" id="top_nav">
      <div class="container-fluid-top">
          <!-- Лого + меню -->
          <div class="logo-menu">
              <a href="{% url 'home' %}"><img src="{% static 'images/log.png'%}" alt="" height="60" width="78" ></a>
          <div>
             
              <ul class="menu">
                  <li class="">
                      <a class="menu-link"href="{% url 'home' %}">НА ГЛАВНУЮ</a>
                  </li>
                  <span class="separator">|</span>
                  <li class="">
                      <a class="menu-link" href="{% url 'catalog:catalog' %}">КАТАЛОГ</a>
                  </li>
                  <span class="separator">|</span>
                  <li class="">
                      <a class="menu-link" href="{% url 'partners' %}">ПАРТНЕРАМ</a>
                  </li>
                  <span class="separator">|</span>
                  <li class="">
                      <a class="menu-link" href="{% url 'about' %}">О МАСТЕРСКОЙ</a>
                  </li>
                  <span class="separator">|</span>
                  <li class="">
                      <a class="menu-link" href="{% url 'contact' %}">КОНТАКТЫ</a>
                  </li>
              </ul>
          </div>
          </div>
      </div>
    </div>
  </div>

      <!-- Всплывающие окна в правом нижнем углу -->
      <div class="contact-cart-block">
        {% if len_product == 0 %}
          <div class="contact-inner">
            <div class="contact-wrapper">
              <img alt="" height="35" width="35" src="{% static 'images/massege.png' %}">
            </div>
         </div>
        {% else %}
          <div class="cart-inner">
            <div class="cart-wrapper">
              <img alt="" height="35" width="35" src="{% static 'images/cart.png' %}">
            </div>
            <div class="cart-len"> {{ len_product }} </div>
          </div>

          <div class="cart-open">
            <div class="cart-open-title">
              <div class="cart-open-container">
                <h2>Ваша корзина</h2>
              </div>
            </div>
            <div class="cart-open-products">
              <div class="cart-open-container">
                {% for item in cart %}
                    {% with product=item.product %}
                      <div class="cart-open-item">
                        <div class="cart-open-wrapper1">
                          <div class="cart-open-item-img"><img src="{{ item.product.image.url }}" alt="" class="product-img" height="90" width="90"></div>
                          <div class="cart-open-item-quantily">
                            <h4>{{ item.product.title }}</h4>
                            <div class="cart-open-quantily">
                              <p>{{ item.quantity }}</p>
                            </div>
                          </div>
                        </div>
                        <div class="cart-open-wrapper2">
                          <div class="cart-open-price">
                            <p>руб. {{ item.total_price }}</p>
                            <a href="{% url 'cart:cart_remove' product.id %}">удалить</a>
                          </div>
                        </div>
                      </div>
                    {% endwith %}
            {% endfor %}
              </div>
            </div>
            <a href="#">
              <div class="cart-open-total">
                <div class="cart-open-total-link">
                  <p class="">Итого - {{ cart.get_total_price }}  руб.</p>
                </div>
              </div> 
            </a>
          </div>
        {% endif %}
      </div>
        {% block big_block %}
        {% endblock %}

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="{% static 'js/script.js' %}"></script>
       
</body>
</html>