{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
</head>
<body>
    <div class="top">
        <div class="container-fluid-top" id='top'>
            <!-- Полоска в самом верху сайта -->
            <div class="top-info">
                <h2 class="text-top">КЕРАМИКА РУЧНОЙ РАБОТЫ</h2>
                <div class="contacts-top">
                  <h2 class="number">+7 922 207 38 38 |</h2>
                  <a href="#" class="icon-top"><img alt="" height="30" width="30" src="{% static 'images/vk.svg'%}"></a>
                  <a href="#" class="icon-top"><img alt="" height="30" width="30" src="{% static 'images/insta.svg'%}"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="top-main" id="top_nav">
      <div class="container-fluid-top">
          <!-- Лого + меню -->
          <div class="logo-menu">
              <a href="{% url 'home' %}"><img src="{% static 'images/log.png'%}" alt="" height="60" width="78" ></a>
          <div>
              <!-- <div class="cart">
                <div class="cart-wrap">
                  <div>
                      <a href="#"><a href="#openModal"><img src="{% static 'images/cart.svg'%}" alt="" height="35" width="35" ></a></a>
                      {% if len_product == 0%}
                      {% else %}
                        <div class="len-cart-block">
                          <span>
                            {{ len_product }}
                          </span>
                        </div>
                      {% endif %}
                  </div>
                </div>
              </div> -->
              <ul class="menu">
                  <li class="">
                      <a class="menu-link"href="{% url 'home' %}">НА ГЛАВНУЮ</a>
                  </li>
                  <span class="separator">|</span>
                  <li class="">
                      <a class="menu-link" href="{% url 'catalog:catalog' %}">КАТАЛОГ</a>
                  </li>
                  <span class="separator">|</span>
                  <li class="">
                      <a class="menu-link" href="{% url 'partners' %}">ПАРТНЕРАМ</a>
                  </li>
                  <span class="separator">|</span>
                  <li class="">
                      <a class="menu-link" href="{% url 'about' %}">О МАСТЕРСКОЙ</a>
                  </li>
                  <span class="separator">|</span>
                  <li class="">
                      <a class="menu-link" href="{% url 'contact' %}">КОНТАКТЫ</a>
                  </li>
              </ul>
          </div>
          </div>
      </div>
    </div>
  </div>
    <!-- <div id="openModal" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title">Ваш заказ</h3>
              <a href="#close" title="Close" class="close">×</a>
            </div>
            <div class="modal-body">
              <div class="container-item-cart">
                <div class="product-in-cart">
                  {% for item in cart %}
                    {% with product=item.product %}
                      <div class="product-item-cart">
                        <div class="img-item-cart"><img src="{{ item.product.image.url }}" alt="" class="product-img" height="73" width="73"></div>
                        <div class="title-item-cart">
                          <h4>{{ item.product.title }}</h4>
                        </div>
                        <div class="item-quantity-cart">
                          <p>{{ item.quantity }}</p>
                        </div>
                        <div class="item-price-cart">
                          <p>{{ item.total_price }}</p>
                        </div>
                        <div class="remove-item-cart-block">
                          <a href="{% url 'cart:cart_remove' product.id %}" class="remove-item-a"><img src="{% static 'images/remove.svg'%}" alt="Удалить" width="20" height="20"></a>
                        </div>
                      </div>
                    {% endwith %}
                  {% endfor %}
                </div>
                <div class="total-sum-cart">
                  <p>Сумма: {{ cart.get_total_price }} р.</p>
                </div>
                <div class="form-cart-block">
                  <form action="{% url 'pay' %}" method='post'>
                    {% csrf_token %}
                    <div class="reg-info-block">
                      <p class="title-input">Ваш Email</p>
                      {{ cartForm.email }}
                      {{ cartForm.number }}
                      <p class="title-input">Есть подарочный сертификат?</p>
                      {{ cartForm.gift_sertificate }}
                    </div>
                    <div class="dostavka-block">
                      <h3 class="title-dostavka">Доставка</h3>
                      <p class="title-input">Город</p>
                      {{ cartForm.city }}
                      {{ cartForm.type_dost }} СДЭК
                      <p class="title-input">Получатель (ФИО полностью)</p>
                      {{ cartForm.name_of_user }}
                      <p class="title-input">Улица</p>
                      {{ cartForm.street }}
                      <div class="home-room">
                        <div class="home-room-child">
                          <p class="title-input">Дом</p>
                          {{ cartForm.house }}
                        </div>
                        <div class="home-room-child">
                          <p class="title-input">Квартира/офис</p>
                          {{ cartForm.room }}
                        </div>
                      </div>
                      <div class="commit-block">
                        <p class="title-input">Комментарий к заказу</p>
                        {{ cartForm.commit }}
                      </div>
                      <div class="total">
                        <div>
                          <p>Сумма: {{ cart.get_total_price }} р.</p>
                          <h3>Итоговая сумма: {{ cart.get_total_price }} р.</h3>
                        </div>
                      </div>
                    </div>
                    <div class="btn-zakaz">
                      <input type="submit" value="Перейти к оплате">
                    </div>
                  </form>
                </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="contact-cart-block">
        {% if len_product == 0 %}
          <div class="contact-inner">
            <div class="contact-wrapper">
              <img alt="" height="35" width="35" src="{% static 'images/massege.png' %}">
            </div>
         </div>
        {% else %}
          <div class="cart-inner">
            <div class="cart-wrapper">
              <img alt="" height="35" width="35" src="{% static 'images/cart.png' %}">
            </div>
            <div class="cart-len"> {{ len_product }} </div>
          </div>
        {% endif %}
      </div>
        {% block big_block %}
        {% endblock %}

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <script src="{% static 'js/script.js' %}"></script>
    

      
</body>
</html>