{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid-contact">
        <div class="contacts-block">
            <h2 class="title-of-page">
                Контакты
            </h2>
            <h3>
                Адрес мастерской
            </h3>
            <p>
                г. Екатеринбург, пер. Автоматики, 3/1 оф. 116 <br>
                +7 (922)-207-38-38 <br>
                mulki.pridumki@gmail.com
            </p>
        </div>
        <div class="contacts-maps-container">
            <iframe src="https://yandex.ru/map-widget/v1/-/CCUNb6uUgC" width="100%" height="500px" frameborder="0" allowfullscreen="true" style="position:relative;"></iframe>
        </div>
    </div>
{% endblock %}