{% extends 'main/base.html' %}

{% block content %}
    <!-- Блок "Партнерам" -->
    <div class="our-works">
        <h2 class="title-of-page">Партнерам</h2>
        {% for partner in partners %}
            <div class="parter-item-block">
                <img src="{{ partner.image.url }}" alt="" width="300" height="300">
                <p class="partner-text">{{ partner.text }}</p>
                <a href="{{ partner.file.url }}">Скачать файл</a>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}
