{% extends 'main/base.html' %}

{% block content %}

<!-- Блок каталога -->
<div class="container-fluid">
    <div class="catalog">
        
        <!-- Категории магазина -->
            <div class="works-main-block">
                    {% for category in categorys %}
                        <div class="work-block">
                            <!-- <h4>{{ category.name }}</h4> -->
                            <a href="{% url 'catalog:category_detail' category.slug %}"><img src="{{ category.image.url }}" alt="" height="270" width="270"></a>
                            <h3 class="category-name">{{ category.name }}</h3>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}