{% extends 'main/base.html' %}

{% block content %}
<div class="container-fluid-product">
    <div class="product-top">
        <li class="">
            <a class="product-top-link" href="{% url 'catalog:catalog' %}">КАТАЛОГ</a>
        </li>
        <p class="product-top-current">| {{ product.category.name }}</p>
    </div>
    
    <div class="product-item-detail">
        <div class="img-of-product-detail">
            <a href="{% url 'catalog:product_detail' product.slug %}"><img src="{{ product.image.url }}" alt="" class="product-img-detail" height="370" width="370"></a>
        </div>
        
        <div class="info-of-product-detail">
            <h3 class="product-title-detail">{{ product.title }}</h3>
            <!-- <p class='product-price'>{{ product.descriprion }}</p> -->
            <p class='product-price-detail'>₽ {{ product.price }}</p>
            <p class='size-of-product'>{{ product.size }}</p>
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                <div class="add-cart-block-detail">
                    <p id="w">{{ cart_product_form }}</p>
                    {% csrf_token %}
                    <input type="submit" value="В корзину" class="add-to-cart-1">
                </div>
            </form>
            <p class='category-of-product'>Категория: <a href="{% url 'catalog:category_detail' product.category.slug %}">{{ product.category.name }}</a></p>
        </div>
    </div>
    
    <div class="descriprion-of-product-detail">
        <div class="title-of-descriprion-detail">
            <div class="title-of-product-detail-1">
                <h4>Описание</h3>
            </div>
        </div>
        <p>{{ product.descriprion }}</p>
    </div>
    <hr>
</div>
{% endblock %}